<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>test</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
    <context-param>
    <description>Location to store uploaded file</description>
    <param-name>file-upload</param-name>
    <param-value>
    <!-- Matthew's BookCoverArt Path -->
		/Users/RevZero/Dropbox/Records/UW Bothell Statement/Class Database/Winter 2015/CSS 490/TheBestBookstore/WebContent/BookCoverArt
		
	<!-- Martha's BookCoverArt Path -->
    <!-- <Your computer path to this location>/WebContent/BookCoverArt -->
    
    <!-- David's BookCoverArt Path -->
    <!-- <Your computer path to this location>/WebContent/BookCoverArt -->
	</param-value>
  </context-param>
</web-app>